<ion-content [fullscreen]="true">

  <div class="header" id="title">
    <div class="header-title">
      <ion-text>
        <h1>Feeding</h1>
      </ion-text>
      <ion-text *ngIf="previousFeeding" class="subtitle">
        <h5>Last fed: {{ toTimeString(previousFeeding.time) }}</h5>
      </ion-text>
    </div>
  </div>

  <div #page id="page" style="opacity: 0;">

    <div class="feeding-type">
      <ion-segment value="breast">
        <!-- (ionChange)="typeChanged($event)"> -->
        <ion-segment-button value="breast">
          <ion-label>Breast</ion-label>
        </ion-segment-button>
        <ion-segment-button value="bottle">
          <ion-label>Bottle</ion-label>
        </ion-segment-button>
        <ion-segment-button value="solids">
          <ion-label>Solids</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="feeding-time">
      <ion-list>
        <ion-item>
          <ion-label>Start Time:</ion-label>
          <ion-text slot="end">
            <h3 class="underlined" *ngIf="feeding && feeding.time">
              {{ toTimeString(feeding.time) }}
            </h3>
            <h3 class="underlined" *ngIf="!feeding || !feeding.time">
              Set time
            </h3>
          </ion-text>
        </ion-item>
      </ion-list>
    </div>

    <div class="feeding-timer">
      <app-counter
        [minutes]="feedingMinutes" [seconds]="feedingSeconds"
        *ngIf="timing || feeding.time">
      </app-counter>
    </div>

    <div class="breast-labels">
      <div class="breast-label">
        <ion-text>
          <h4>Left</h4>
        </ion-text>
      </div>
      <div class="breast-label">
        <ion-text>
          <h4>Right</h4>
        </ion-text>
      </div>
    </div>
    <div class="breasts" *ngIf="feeding.type === breastType">
      <div class="breast-circle" (click)="toggleBreastTimer('left')"
        [class.is-active]="timing === 'left'">
        <div [ngSwitch]="timing === 'left'" class="breast-content">
          <div *ngSwitchCase="true">
            <ion-icon name="pause-outline"></ion-icon>
          </div>
          <div *ngSwitchDefault>
            <ion-icon name="play-outline" color="light"></ion-icon>
          </div>
          <ion-text class="mini-counter" *ngIf="feeding.breastDetails.leftMinutes && feeding.breastDetails.leftSeconds">
            <h6>{{ feeding.breastDetails.leftMinutes }}:{{ feeding.breastDetails.leftSeconds }}</h6>
          </ion-text>
        </div>
      </div>
      <div class="breast-circle" (click)="toggleBreastTimer('right')"
      [class.is-active]="timing === 'right'">
      <div [ngSwitch]="timing === 'right'" class="breast-content">
        <div *ngSwitchCase="true">
          <ion-icon name="pause-outline"></ion-icon>
        </div>
        <div *ngSwitchDefault>
          <ion-icon name="play-outline" color="light"></ion-icon>
        </div>
        <ion-text class="mini-counter" *ngIf="feeding.breastDetails.rightMinutes && feeding.breastDetails.rightSeconds">
          <h6>{{ feeding.breastDetails.rightMinutes }}:{{ feeding.breastDetails.rightSeconds }}</h6>
        </ion-text>
      </div>
      </div>
    </div>

    <div class="actions" *ngIf="!timing && !recordedTime">
      <ion-button fill="clear">
        Manual
      </ion-button>
    </div>
    <div class="actions" *ngIf="!timing && recordedTime">
      <ion-button fill="clear">
        Reset
      </ion-button>
      <ion-button class="save" shape="round">
        SAVE
      </ion-button>
      <ion-button fill="clear">
        Edit
      </ion-button>
    </div>
    <div class="actions" *ngIf="timing">
      <ion-button fill="clear">
        Edit Session
      </ion-button>
    </div>
  
  </div>

</ion-content>
