<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Feeding History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="showFeedings">
    <ion-list *ngFor="let feedingDay of groupedFeedings | keyvalue">
      <ion-list-header>
        <ion-label>
          <ion-text>{{ feedingDay.key }} - {{ dayTotal(feedingDay.key) }}oz</ion-text>
        </ion-label>
      </ion-list-header>
      <ion-item-sliding *ngFor="let feeding of feedingDay.value">
        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="editFeeding(feeding)">Modify</ion-item-option>
          <ion-item-option color="danger" (click)="deleteFeeding(feeding)">Delete</ion-item-option>
        </ion-item-options>
        <div [ngSwitch]="feeding.type === breastType">
          <div *ngSwitchCase="true">
            <ion-item>
              <ion-icon class="feed-icon" color="dark" name="breastfeeding" slot="start"></ion-icon>
              <ion-label>
                <h3 class="feed-rating">
                  Left: 
                  <div [ngSwitch]="feeding.breastDetails.left === true">
                    <div *ngSwitchCase="true">
                      <ion-icon
                        class="feed-rating-icon"
                        [name]="feeding.breastDetails.leftRating === 'happy' ? 'happy-outline' : 'sad-outline'"
                        [color]="feeding.breastDetails.leftRating === 'happy' ? 'success' : 'danger'">
                      </ion-icon>
                    </div>
                    <div *ngSwitchDefault style="width: 18px;" class="ion-text-center">-</div>
                  </div>
                </h3>
                <h3 class="feed-rating">
                  Right: 
                  <div [ngSwitch]="feeding.breastDetails.right === true">
                    <div *ngSwitchCase="true">
                      <ion-icon
                        class="feed-rating-icon"
                        [name]="feeding.breastDetails.rightRating === 'happy' ? 'happy-outline' : 'sad-outline'"
                        [color]="feeding.breastDetails.rightRating === 'happy' ? 'success' : 'danger'">
                      </ion-icon>
                    </div>
                    <div *ngSwitchDefault style="width: 18px;" class="ion-text-center">-</div>
                  </div>
                </h3>
              </ion-label>
              <ion-label class="feed-time">
                <p>{{ toTimeString(feeding.time) }}</p>
              </ion-label>
            </ion-item>
          </div>
          <div *ngSwitchDefault>
            <ion-item>
              <ion-icon class="feed-icon" name="bottle" slot="start"></ion-icon>
              <ion-label>
                <h3>{{ feeding.bottleDetails.ounces }} oz</h3>
              </ion-label>
              <ion-label class="feed-time">
                  <p>{{ toTimeString(feeding.time) }}</p>
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-item-sliding>
    </ion-list>
  </div>

  <div *ngIf="!showFeedings">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>