<ion-card class="ion-text-center">
  <ion-item>
    <ion-icon name="water-outline" slot="start"></ion-icon>
    <ion-label>Food</ion-label>
    <ion-button fill="outline" slot="end"
      [disabled]="!allFeedings || allFeedings.length === 0"
      (click)="showFeedingHistory()">
      History
    </ion-button>
  </ion-item>
  <ion-card-content>
    <div [ngSwitch]="previousFeeding != undefined">
      <div *ngSwitchCase="true">
        <ion-note color="medium">
          Last feed: {{ previousFeeding.ounces }} oz at {{ toTimeString(previousFeeding.time) }}
        </ion-note>
      </div>
      <div *ngSwitchDefault>
        <ion-note color="medium">No previous feeding data</ion-note>
      </div>
    </div>

    <div class="feed-form">
      <ion-text color="dark">
        <h1>Enter Feeding</h1>
      </ion-text>
      <div class="feed-amount-container">
        <ion-button size="large" color="secondary" slot="start"
          (click)="removeOunce()"
          [disabled]="currentFeeding.ounces < 1">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <ion-text>
          <h1>{{ currentFeeding.ounces }} oz</h1>
        </ion-text>
        <ion-button size="large" color="secondary" slot="end"
          (click)="addOunce()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-button color="primary" expand="block" class="block-button"
        (click)="saveFeeding()">
        Add Feeding
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>