<ion-card>
  <ion-item>
    <ion-icon name="water-outline" slot="start"></ion-icon>
    <ion-label>Food</ion-label>


    
    <div [ngSwitch]="previousFeeding != undefined">
      <div *ngSwitchCase="true">
        <ion-note slot="end" *ngIf="previousFeeding">
          Prev: {{ toTimeString(previousFeeding.time) }}
        </ion-note>
      </div>
      <div *ngSwitchDefault>
        <ion-note slot="end">
          No History
        </ion-note>
      </div>
    </div>
    <ion-button fill="outline" slot="end"
      [disabled]="!allFeedings || allFeedings.length === 0"
      (click)="showFeedingHistory()">
      History
    </ion-button>
  </ion-item>
  <ion-card-content>
    <app-feeding-edit (feedingAdded)="feedingAdded($event)"></app-feeding-edit>
  </ion-card-content>
</ion-card>