<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Edit Feeding</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="feeding">
    <ion-list>
      <ion-list-header>
        <ion-text>Amount</ion-text>
      </ion-list-header>
      <ion-item>
        <ion-label>Ounces</ion-label>
        <ion-text>
          <h2>{{ feeding.ounces }}</h2>
        </ion-text>
      </ion-item>
      <ion-list-header>
        <ion-text>When</ion-text>
      </ion-list-header>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [value]="feeding.time"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Time</ion-label>
        <ion-datetime displayFormat="h:mm a" [value]="feeding.time"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-button color="primary" expand="block" class="save">
      Save
    </ion-button>
  </div>
</ion-content>
