<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
      <img id="wallpaper" src="../../assets/sleep-background.jpg" height="20%">
      <ion-title size="large">
        <span id="title" style="opacity: 0;">
          Sleep
        </span>
      </ion-title>
  </ion-header>

  <div #page id="page" style="opacity: 0;">
    <div class="sleep-data">
      <div class="sleep-time">
        <ion-text>
          <h3>Start Time:</h3>
        </ion-text>
        <ion-text>
          <h3 class="underlined">
            {{ currentSleep && currentSleep.startTime ? toTimeString(currentSleep.startTime) : 'Set time' }}
          </h3>
        </ion-text>
      </div>
      <div class="sleep-time">
        <ion-text>
          <h3>End Time:</h3>
        </ion-text>
        <ion-text>
          <h3 class="underlined">
            {{ currentSleep && currentSleep.endTime ? toTimeString(currentSleep.endTime) : 'Set time' }}
          </h3>
        </ion-text>
      </div>
    </div>

    <div [ngSwitch]="sleeping === false">
      <div *ngSwitchCase="true" class="sleep-timer">
        <div id="timer-button-container">
          <div class="timer-button ion-activatable ripple-parent" (click)="startSleep()">
            <p>START<br>TIMER</p>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </div>
          <div class="circle" style="animation-delay: -4s;"></div>
        </div>
      </div>
      <div *ngSwitchDefault class="sleep-timer">
        <div class="counter">
          <div class="count">
            <div class="count-unit">{{ sleepHours }}</div>
            <div class="count-separator">:</div>
            <div class="count-unit">{{ sleepMinutes }}</div>
            <div class="count-separator">:</div>
            <div class="count-unit">{{ sleepSeconds }}</div>
          </div>
          <div class="label">
            <div class="label-unit">HOURS</div>
            <div class="label-unit">MIN</div>
            <div class="label-unit">SEC</div>
          </div>
        </div>
        <div id="timer-button-container">
          <div class="timer-button ion-activatable ripple-parent" (click)="endSleep()">
            STOP
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </div>
          <div class="circle" style="animation-delay: -6s;"></div>
          <div class="circle" style="animation-delay: -4s;"></div>
          <div class="circle" style="animation-delay: -2s;"></div>
          <div class="circle" style="animation-delay: 0s;"></div>
        </div>
      </div>
    </div>

    <div class="sleep-reset">
      <ion-button fill="clear">
        Reset
      </ion-button>
    </div>

    <!-- <ion-card class="tracker-action" class="ion-text-center">
      <ion-item>
        <ion-icon name="bed-outline" slot="start"></ion-icon>
        <ion-label>Sleep</ion-label>
        <ion-button fill="outline" slot="end"
          [disabled]="!allSleep || allSleep.length === 0"
          (click)="showSleepHistory()">
          History
        </ion-button>
      </ion-item>
      <ion-card-content>
        <div class="sleep-data">
          <div [ngSwitch]="!isAwake">
            <div *ngSwitchCase="true">
              <ion-note color="success">{{ sleepCounter }}</ion-note>
            </div>
            <div *ngSwitchDefault>
              <ion-note color="dark">Not Sleeping</ion-note>
            </div>
          </div>
          <div>
            <ion-note color="medium" *ngIf="isAwake && !previousSleep">
              No previous sleep data
            </ion-note>
            <ion-note color="medium" *ngIf="isAwake && previousSleep">
              Awake since: {{ toTimeString(previousSleep.wakeTime) }}
            </ion-note>
            <ion-note color="medium" *ngIf="!isAwake">
              Asleep since: {{ toTimeString(currentSleep.sleepTime) }}
            </ion-note>
          </div>
        </div>
    
        <ion-button expand="block" shape="round" class="block-button"
          (click)="toggleSleep()"
          color="primary">
          {{ isAwake ? 'Start Sleep' : 'End Sleep' }}
        </ion-button>
      </ion-card-content>
    </ion-card> -->
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button color="light">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
