ion-header {
    box-shadow: 0px 3px 20px 0px black;
}

.sleep-data {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem;
}

.sleep-time {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.underlined {
    border-bottom: 2px solid var(--ion-color-primary);
    display: inline-block;
    font-weight: 100;
}

.sleep-timer {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#circles {
    margin-top: 7rem;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    .circle0 {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        z-index: 3;

        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        font-size: 26px;
        line-height: 1.2;
        
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .circle1 {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        background: none;
        border: 2px dashed var(--ion-color-primary);
        opacity: 0.7;
        z-index: 2;
        margin-top: -8rem;
    }

    .circle2 {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 11rem;
        height: 11rem;
        border-radius: 50%;
        background: none;
        border: 2px dashed var(--ion-color-primary);
        opacity: 0.4;
        z-index: 1;
        margin-top: -10rem;
    }

    

    // #button {
    //     background-color: var(--ion-color-primary);
    //     color: var(--ion-color-primary-contrast);
    //     width: 7rem;
    //     height: 7rem;
    //     border-radius: 50%;
    //     font-size: 26px;
    //     line-height: 1.2;
    //     z-index: 1000;
    // }
}

#outer-circle {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    position: relative;
    border: 2px dashed var(--ion-color-primary);
    opacity: 0.7;
}

#inner-circle {
    position: absolute;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    /*
     Put top edge and left edge in the center
    */
    top: 50%;
    left: 50%;
    margin: -3.5rem 0px 0px -3.5rem;
    background-color: var(--ion-color-primary);
    /* 
    Offset the position correctly with
    minus half of the width and minus half of the height 
   */
    color: var(--ion-color-primary-contrast);
    font-size: 26px;
    line-height: 1.2;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.counter {
    width: 8rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    .count {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .count-unit {
            font-size: 28px;
            margin-right: 0.25rem;
        }

        .count-separator {
            font-size: 20px;
            margin-right: 0.3rem;
        }
    }

    .label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        color: var(--ion-color-medium);

        .label-unit {
            font-size: 8px;
            margin-right: 1.9rem;
        }
    }
}

.sleep-reset {
    width: 100%;
    position: absolute;
    bottom: 3rem;
    text-align: center;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}
