<ion-content fullscreen scroll-y="false">
  <ion-button fill="clear" *ngIf="showBackButton">
    <ion-icon slot="start" name="arrow-back"></ion-icon>
    Back
  </ion-button>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <h2>Welcome!</h2>
      <p>
        I hope you find this tracker to be useful through these precious yet foundational days
        with your little one. Let's start by personalizing the tracker for you.
      </p>
      <ion-button fill="clear" (click)="next()">
        Start <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
    <ion-slide>
      <h2>What's his/her name?</h2>
      <ion-item color="light" class="intro-input">
        <ion-label position="fixed">Enter Name</ion-label>
        <ion-input type="text" (ionChange)="nameChanged($event)"></ion-input>
      </ion-item>
      <div class="intro-action">
        <ion-button expand="block" fill="outline"
          (click)="next()" [disabled]="!babyName">
          Next
        </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <h2>Great, you're almost there.</h2>
      <p>
        To protect the anonomity of your baby, I won't ask for any more data. 
        All that's left is selecting your theme and then you're off to the races.
      </p>
      <ion-button fill="clear" (click)="next()">
        Continue <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
    <ion-slide>
      <h2>Theme</h2>
      <div class="theme-options">
        <ion-content *ngFor="let theme of themes"
          class="theme-option"
          [color]="theme"
          (click)="selectTheme(theme)"
          [class.is-selected]="userTheme === theme">
        </ion-content>
      </div>
      <div class="intro-actions">
        <ion-button
          [color]="userTheme"
          (click)="next()">
          Confirm
        </ion-button>
        <ion-button fill="outline" color="medium">
          Skip
        </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <h2>You're all set!</h2>
      <ion-button fill="clear" (click)="complete()">
        Start Tracking <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>