<ion-content fullscreen scroll-y="false">
  <ion-button fill="clear" *ngIf="showBackButton">
    <ion-icon slot="start" name="arrow-back"></ion-icon>
    Back
  </ion-button>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <h1>Welcome!</h1>
      <p>
        I hope you find this tracker to be useful through these precious yet foundational days
        with your little one. Let's start by personalizing the tracker for you.
      </p>
      <ion-button fill="clear" (click)="next()">
        Start <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
    <ion-slide>
      <h1>What's his/her name?</h1>
      <ion-item color="light" class="intro-input">
        <ion-label position="fixed">Enter Name</ion-label>
        <ion-input type="text" (ionChange)="nameChanged($event)"></ion-input>
      </ion-item>
      <div class="intro-action intro-actions">
        <ion-button expand="block" shape="round" fill="outline"
          (click)="next()" [disabled]="!babyName">
          Next
        </ion-button>
        <ion-button fill="outline" shape="round" color="medium" (click)="skipName()">
          Skip
        </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <h1>Great, you're almost there.</h1>
      <p>
        To protect the anonomity of your baby, I won't ask for any more data. 
        All that's left is selecting your theme and then you're off to the races.
      </p>
      <ion-button fill="clear" (click)="next()">
        Continue <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
    <ion-slide>
      <h1>Theme</h1>
      <ion-grid class="theme-grid">
        <ion-row class="ion-align-items-center">
          <ion-col>
            <div class="theme-option"
              style="background: #3880ff;"
              (click)="selectTheme(themes[0])"
              [class.is-selected]="userTheme === themes[0]">
            </div>
          </ion-col>
          <ion-col>
            <div class="theme-option"
              [style.background]="'var(--ion-color-' + themes[1] + ')'"
              (click)="selectTheme(themes[1])"
              [class.is-selected]="userTheme === themes[1]">
            </div>
          </ion-col>
          <ion-col>
            <div class="theme-option"
              [style.background]="'var(--ion-color-' + themes[2] + ')'"
              (click)="selectTheme(themes[2])"
              [class.is-selected]="userTheme === themes[2]">
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <div class="theme-option"
                [style.background]="'var(--ion-color-' + themes[3] + ')'"
                (click)="selectTheme(themes[3])"
                [class.is-selected]="userTheme === themes[3]">
              </div>
          </ion-col>
          <ion-col>
            <div class="theme-option"
              [style.background]="'var(--ion-color-' + themes[4] + ')'"
              (click)="selectTheme(themes[4])"
              [class.is-selected]="userTheme === themes[4]">
            </div>
          </ion-col>
          <ion-col>
            <div class="theme-option"
              [style.background]="'var(--ion-color-' + themes[5] + ')'"
              (click)="selectTheme(themes[5])"
              [class.is-selected]="userTheme === themes[5]">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="intro-actions">
        <ion-button color="primary" (click)="next()">
          Confirm
        </ion-button>
        <ion-button fill="outline" color="medium" (click)="skipTheme()">
          Skip
        </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <h2>You're all set!</h2>
      <ion-button fill="clear" (click)="complete()">
        Start Tracking <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>