<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="babyInfo">
      {{ babyInfo.name }} Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
        <ion-title size="large">
          <span id="title" style="opacity: 0;">
            <span *ngIf="babyInfo">{{ babyInfo.name }}</span> Tracker
          </span>
        </ion-title>
    </ion-toolbar>
  </ion-header>

  <div #page style="opacity: 0;">
    <app-sleep-tracker></app-sleep-tracker>
    <app-feeding-tracker></app-feeding-tracker>
  </div>
</ion-content>
